*.a
*.sw*

*.cmake
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc

hardfork.hpp

libraries/utilities/git_revision.cpp

libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

programs/cli_wallet/cli_wallet
programs/js_operation_serializer/js_operation_serializer
programs/delegate_node/delegate_node

wallet.json
delegate_node_data_dir

*.wallet

programs/delegate_node/object_database/*

object_database/*
build/*

*.pyc
*.pyo
